.showDiv{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.showDiv  img{
	position: relative;
	z-index: -1;
	width: 360x;
	height: 600px;
	
}

#afui .showDiv p{
	color: red; 
	font-size:35px;
	margin-top: -250px;
}

#afui .showDate p{
	font-size: 16px;
	margin-top: 195px;
}
